<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Author" content="Yilmaz Tunc">
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Turşunun adresi Hasan Çakar">
    <meta name="keywords" content="turşucu, turşu, kaliteli turşu,en iyi turşucu">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="~/WebBootstrapSiteYapimi/css/style.css" rel="stylesheet" />
    <title>Turşucu Hasan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    @RenderBody()
    <!--Menu Kısmı Başlangıç-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#carouselExampleIndicators">
            <img src="~/WebBootstrapSiteYapimi/img/Tlogo2.jpg" alt="logo" style="width: 60px; height: 40px;"> Hasan Çakar
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#carouselExampleIndicators">
                        Anasayfa <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#hakkimizda">Hakkımızda</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#ekibimiz">Ekibimiz</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#galeri">Galeri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#iletisim">İletişim</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Menu Kısmı Bitiş-->
    <!--Slider Başlangıç-->

    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/WebBootstrapSiteYapimi/img/Tresim45.jpg" class="d-block w-100 resimSlider" alt="resim-1">
            </div>
            <div class="carousel-item">
                <img src="~/WebBootstrapSiteYapimi/img/Tresim42.jpg" class="d-block w-100 resimSlider" alt="resim-2">
            </div>
            <div class="carousel-item">
                <img src="~/WebBootstrapSiteYapimi/img/Tresim36.jpg" class="d-block w-100 resimSlider" alt="resim-3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="" aria-hidden="true"><i class="fas fa-caret-square-left fa-2x text-danger"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="" aria-hidden="true"><i class="fas fa-caret-square-right fa-2x text-danger"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--Slider Bitiş-->
    <!--Hakkımızda Başlangıç-->
    <section class="p-5 text-center hakkimizda" id="hakkimizda">
        <div class="container animate__animated animate__rotateInDownRight">
            <h2 class="font-weight-bold">Hakkımızda</h2>
            <hr class="ayrac"><i class="fas fa-leaf igri"></i>

            <p>
                Yemekler onlarsız eksik kalır...
                Sofraların neşesi, rengi, tadı ve tuzu Tat Turşular ile gösterişli sofraların zevkini doyasıya yaşayın!
                Turşu sindirim ve bağışıklık sistemini desteklemeye yardımcı olur. Yapımında kullanılan sebzelerin içerdiği lifler sayesinde tokluk hissi yaratır.Turşu yapımında kullanılan sirke de meyve ve sebzelerin içerdiği vitaminlerle birleşince doğal bir antibiyotik etki yaratır. Ayrıca içeriğindeki sebze ve meyvelere göre A ve K vitaminlerini de içerir..
            </p>
            <p>
                Turşular çok eski tarihlere kadar dayanan bir Türk eseridir. Turşu üretiminin tarihi çok eski yıllara dayanmaktadır. Ancak ne zaman yapıldığı hakkında kesin bir tarih yoktur. İnsanların sirke veya tuzu tanımalarından sonra turşu yaptıklarını varsayabiliriz. Meyve ve sebzelerin doğrudan su içinde ekşitilerek veya sirke ile turşu kurulur. Eskiler ya sebze kurutarak ya da turşu kurarak kışlık ve yazlık yiyeceklerini bu şekilde elde ederlerdi.
            </p>
        </div>
    </section>
    <!--Hakkımızda Bitiş-->
    <!--Ekibimiz Başlangıç-->
    <!-- <section class="text-center ekibimiz" id="ekibimiz">
        <div class="container">
            <h2 class="font-weight-bold">Ekibimiz</h2>
            <hr class="ayrac"><i class="fas fa-leaf ibeyaz"></i>

            <div class="card-deck">
                <div class="row">
                    <div class="card shadow ekipCard">
                        <img src="img/ekip1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural</p>
                        </div>
                    </div>
                    <div class="card shadow ekipCard">
                        <img src="img/ekip2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural</p>
                        </div>
                    </div>
                    <div class="card shadow ekipCard">
                        <img src="img/ekip3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural</p>
                        </div>
                    </div>
                    <div class="card shadow ekipCard">
                        <img src="img/ekip4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--Ekibimiz Bitiş-->
    <!--Galeri Başlangıç-->
    <section class="text-center galeri animate__animated animate__rotateIn" id="galeri">
        <div class="container ">
            <h2 class="font-weight-bold">Galeri</h2>
            <hr class="ayrac"><i class="fas fa-leaf igri"></i>
            <div class="row">
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim14.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim14.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim16.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim16.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim11.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim11.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim12.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim12.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim18.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim18.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim20.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim20.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <a href="~/WebBootstrapSiteYapimi/img/Tresim21.jpg" target="_blank">
                            <img src="~/WebBootstrapSiteYapimi/img/Tresim21.jpg" class="figure-img img-fluid rounded shadow">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!--Galeri Bitiş-->
    <!--İletişim Başlangıç-->
    <section class="p-3 text-center iletisim" id="iletisim">
        <div class="container animate__animated animate__fadeInUpBig">
            <h2 class="font-weight-bold">İletişim</h2>
            <hr class="ayrac"><i class="fas fa-leaf ibeyaz"></i>

            <form class="col-md-10 text-left m-auto">
                <div class="form-group row">
                    <label for="" class="col-md-4 align-self-center font-weight-bold">Ad :</label>
                    <input type="text" class="form-control col-md-8 border-info" placeholder="Adınız">
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-4 align-self-center font-weight-bold">Soyad :</label>
                    <input type="text" class="form-control col-md-8 border-info" placeholder="Soyadınız">
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-4 align-self-center font-weight-bold">Email :</label>
                    <input type="email" class="form-control col-md-8 border-info" placeholder="Email">
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-4 align-self-center font-weight-bold">Mesaj :</label>
                    <textarea cols="30" rows="5" class="form-control col-md-8 border-secondary"
                              placeholder="Mesajınız"></textarea>
                </div>
                <div class="form-group row">
                    <button type="submit" class="col-md-3 btn btn-dark font-weight-light">Gönder</button>
                </div>
            </form>
        </div>
    </section>
    <!--İletişim Bitiş-->
    <!--Footer Başlangıç-->
    <footer class="page-footer font-small bg-dark">

        <div style="background-color: #6351ce;">
            <div class="container">
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-light text-md-right mb-4 mb-md-0">
                        <h6 class="mb-0">Bize Sosyal Medya Hesaplarından Ulaşabilirsiniz !</h6>
                    </div>
                    <!-- Grid column -->
                    <div class="sosyal col-md-6 col-lg-7 text-center text-light text-md-right">
                        <!-- Facebook -->
                        <a href="#iletisim"><i class="fab fa-facebook-f mr-2"></i></a>
                        <!-- Twitter -->
                        <a href="#iletisim"><i class="fab fa-twitter mr-2"></i></a>
                        <!--Linkedin -->
                        <a href="#iletisim"><i class="fab fa-linkedin-in mr-2"></i></a>
                        <!--Instagram-->
                        <a href="#iletisim"><i class="fab fa-instagram mr-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Links -->
        <div class="container text-center text-md-left" style="margin-top-50">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-4 col-xl-3 text-light mx-auto mb-2 tex">
                    <!-- Content -->
                    <h6 class="text-uppercase">Hasan Çakar Turşuları</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto border-success">
                    <p>
                        “Sirke mi? Yoksa Limon mu?”
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 text-light mx-auto mb-md-0 mb-2">

                    <!-- Links -->
                    <h6 class="text-uppercase">İletişim Adresimiz</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto border-success"
                        style="width: 60px;">
                    <p><i class="fas fa-home mr-3"></i> İstanbul-Maltepe</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center text-light py-3">Tüm Hakları Saklıdır &copy; | 2022</div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- <div class="bg-dark text-light text-center">
        <p class="align-middle p-5 mb-0">
            <span>Tüm Hakları Saklıdır &copy;| 2022</span><br>
            <span>Design by <b>PAYLAŞTIKÇA</b></span>
        </p>
    </div> -->
    <!--Footer Bitiş-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>